.profile__about {
    margin: 16px 0 0;
    grid-area: about;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 937px) {
    .profile__about {
        margin: 14px 0 36px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}