.header__logo {
    width: 142px;
    height: 33px;
    margin: 0 0 41px;
    background-image: url(images/Vector.svg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 937px) {
    .header__logo {
        margin: 0 0 31px 27px;
        width: 103.74px;
        height: 24.4px;
    }
}