.form__submit {
    margin: 31px 36px 37px;
    padding: 0;
    height: 50px;
    background: #000000;
    border: 0;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    transition: opacity .3s ease-in;
}

.form__submit:hover {
    opacity: .6;
    cursor: pointer;
}

@media (max-width: 600px) {
    .form__submit {
        margin: 44px 22px 25px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}