.profile__avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity .3s ease-in;
}

.profile__avatar:hover {
    opacity: .2;
    cursor: pointer;
}